.nonSelectable, .menuBarItem, .levelButton_01, .levelButtonShort_01 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  padding: 0;
  margin: 0;
  background-image: url("/img/bg.jpg");
  background-attachment: fixed; }

@media (min-width: 1024px) {
  body {
    background-size: 100%; } }
.menuToggleButton {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border: 3px solid white;
  cursor: pointer;
  overflow: none; }
  .menuToggleButton img {
    width: 70px; }

.menuBar {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 99vh;
  display: none;
  border: 1px solid white; }

@media screen and (min-width: 601px) {
  .menuBar {
    width: 30%; } }
.subMenuBar {
  width: 100%;
  border-bottom: 1px solid white; }
  .subMenuBar img {
    width: 30%;
    margin-left: 35%; }
  .subMenuBar button {
    width: 40%;
    font-size: 20px;
    color: white;
    background-color: black;
    margin-left: 30%;
    text-decoration: underline;
    border: none;
    padding-bottom: 2%; }

.menuBarItem {
  width: 90%;
  font-family: "Lobster", cursive;
  border-bottom: 1px solid white;
  font-size: 30px;
  color: white;
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  cursor: pointer; }
  .menuBarItem:hover {
    color: pink; }

.levelsContainer {
  margin: 0;
  width: 90%;
  margin-left: 5%;
  margin-top: 80px;
  display: inline-block; }

.levelButton_01 {
  border: 1px solid white;
  color: white;
  width: 138px;
  height: 45px;
  padding-top: 15px;
  float: left;
  font-size: 21px;
  font-family: Helvetica;
  text-align: center;
  margin: 9px;
  cursor: pointer; }
  .levelButton_01:hover {
    color: pink;
    border-color: pink; }

.levelButtonShort_01 {
  border: 1px solid white;
  color: white;
  width: 60px;
  height: 45px;
  padding-top: 15px;
  float: left;
  font-size: 21px;
  font-family: Helvetica;
  text-align: center;
  margin: 9px;
  cursor: pointer; }
  .levelButtonShort_01:hover {
    color: pink;
    border-color: pink; }

.CommonColorScheme, .topMenuButton, #nameInputDiv input, .PlanetSelectX, .PlanetFormBtn button, .LevelCreatorInputDiv, .LevelCreatorInputDiv input, .LevelCreatorInputDiv button, .LevelCreatorInputSel, .LevelCreatorInputSel select, .LevelCreatorInputPoint, .LevelCreatorInputPoint input, .LevelCreatorInputPoint button, .animeDiv button {
  background-color: rgba(30, 30, 30, 0.8);
  color: #e6e6e6;
  border: 1px solid white;
  font-family: Helvetica;
  font-size: 75%; }

.FloatInline {
  float: left;
  display: inline-block; }

#mainScreen {
  margin: 0;
  margin-top: 2%;
  padding: 0;
  margin-left: 10%;
  width: 80%;
  display: inline-block; }

#canvasBox {
  float: left;
  width: 30%; }
  #canvasBox canvas {
    width: 100%;
    height: 166.66667%; }

#ControlBox {
  width: 70%;
  padding: 0;
  margin: 0;
  float: left; }

#topMenu {
  width: 100%;
  margin: 0;
  padding: 0; }

.topMenuButton {
  float: left;
  width: 29.33333%;
  font-size: 100%;
  padding: 2%;
  margin: 2%; }

#modeFunctionButton {
  background-color: blue; }

#nameInputDiv {
  width: 100%;
  color: white;
  display: inline-block;
  padding: 2%; }
  #nameInputDiv input {
    float: left;
    width: 58%; }

#nameInputLabel {
  float: left;
  width: 38%;
  font-family: Helvetica;
  text-align: center;
  color: white; }

@media (max-width: 600px) {
  #canvasBox {
    float: none;
    width: 70%;
    height: 42%;
    margin-left: auto;
    margin-right: auto; }

  #ControlBox {
    width: 70%;
    margin-left: 15%; }

  .topMenuButton {
    width: 100%;
    font-size: 100%;
    padding: 15px;
    margin: 0;
    margin-bottom: 15px; }

  #nameInputDiv {
    padding-top: 15px;
    padding-bottom: 15px;
    display: block; }
    #nameInputDiv label {
      text-align: left;
      font-size: 130%;
      width: 100%;
      margin-bottom: 15px; }
    #nameInputDiv input {
      font-size: 130%;
      width: 100%; } }
#controlsBucket {
  width: 100%;
  display: inline-block;
  margin-top: 2%; }

.PlanetSelect {
  width: 24%;
  padding: 2%;
  margin: 2%;
  float: left;
  border-radius: 20px; }

.PlanetSelectX {
  float: right; }

.PlanetSelectName {
  font-size: 90%;
  width: 90%; }

.PlanetSelectButton {
  font-size: 80%;
  padding: 2%;
  margin: 2%;
  background-color: transparent; }

.PlanetForm {
  width: 95%;
  margin-left: 2.5%; }

.PlanetFormPrimary {
  width: 50%;
  float: left;
  display: inline-block; }

.PlanetFormBtn {
  width: 100%; }
  .PlanetFormBtn button {
    width: 45%;
    margin: 2.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%; }

.LevelCreatorInputDiv {
  width: 95%;
  margin: 1.5%;
  padding: 1%; }
  .LevelCreatorInputDiv div {
    color: white;
    margin-bottom: 2%; }
  .LevelCreatorInputDiv input, .LevelCreatorInputDiv button {
    padding: 2%;
    width: 90%;
    margin-bottom: 2%; }

.LevelCreatorInputSel {
  width: 95%;
  margin: 1.5%;
  padding: 1%; }
  .LevelCreatorInputSel div {
    margin-bottom: 2%; }
  .LevelCreatorInputSel select {
    padding: 2%;
    width: 90%; }

.LevelCreatorInputPoint {
  width: 95%;
  margin: 1.5%;
  padding: 1%; }
  .LevelCreatorInputPoint div {
    margin-bottom: 2%; }
  .LevelCreatorInputPoint input {
    padding: 2%;
    width: 60%; }
  .LevelCreatorInputPoint button {
    padding: 2%; }

.animeDiv {
  width: 45%;
  float: left; }
  .animeDiv button {
    width: 25%; }

@media screen and (max-width: 600px) {
  .PlanetSelect {
    width: 96%;
    border-radius: 10px; }

  .PlanetFormPrimary {
    width: 100%; }

  .animeDiv {
    width: 100%; } }

/*# sourceMappingURL=create.css.map */
