.nonSelectable, .menuBarItem, .levelButton_01, .levelButtonShort_01 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  padding: 0;
  margin: 0;
  background-image: url("/img/bg.jpg");
  background-attachment: fixed; }

@media (min-width: 1024px) {
  body {
    background-size: 100%; } }
.menuToggleButton {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border: 3px solid white;
  cursor: pointer;
  overflow: none; }
  .menuToggleButton img {
    width: 70px; }

.menuBar {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 99vh;
  display: none;
  border: 1px solid white; }

@media screen and (min-width: 601px) {
  .menuBar {
    width: 30%; } }
.subMenuBar {
  width: 100%;
  border-bottom: 1px solid white; }
  .subMenuBar img {
    width: 30%;
    margin-left: 35%; }
  .subMenuBar button {
    width: 40%;
    font-size: 20px;
    color: white;
    background-color: black;
    margin-left: 30%;
    text-decoration: underline;
    border: none;
    padding-bottom: 2%; }

.menuBarItem {
  width: 90%;
  font-family: "Lobster", cursive;
  border-bottom: 1px solid white;
  font-size: 30px;
  color: white;
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  cursor: pointer; }
  .menuBarItem:hover {
    color: pink; }

.levelsContainer {
  margin: 0;
  width: 90%;
  margin-left: 5%;
  margin-top: 80px;
  display: inline-block; }

.levelButton_01 {
  border: 1px solid white;
  color: white;
  width: 138px;
  height: 45px;
  padding-top: 15px;
  float: left;
  font-size: 21px;
  font-family: Helvetica;
  text-align: center;
  margin: 9px;
  cursor: pointer; }
  .levelButton_01:hover {
    color: pink;
    border-color: pink; }

.levelButtonShort_01 {
  border: 1px solid white;
  color: white;
  width: 60px;
  height: 45px;
  padding-top: 15px;
  float: left;
  font-size: 21px;
  font-family: Helvetica;
  text-align: center;
  margin: 9px;
  cursor: pointer; }
  .levelButtonShort_01:hover {
    color: pink;
    border-color: pink; }

/*# sourceMappingURL=helloPlanet.css.map */
