.nonSelectable, .menuBarItem, .levelButton_01, .levelButtonShort_01, #menuBar .menuBarItem {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  padding: 0;
  margin: 0;
  background-image: url("/img/bg.jpg");
  background-attachment: fixed; }

@media (min-width: 1024px) {
  body {
    background-size: 100%; } }
.menuToggleButton {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border: 3px solid white;
  cursor: pointer;
  overflow: none; }
  .menuToggleButton img {
    width: 70px; }

.menuBar {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 99vh;
  display: none;
  border: 1px solid white; }

@media screen and (min-width: 601px) {
  .menuBar {
    width: 30%; } }
.subMenuBar {
  width: 100%;
  border-bottom: 1px solid white; }
  .subMenuBar img {
    width: 30%;
    margin-left: 35%; }
  .subMenuBar button {
    width: 40%;
    font-size: 20px;
    color: white;
    background-color: black;
    margin-left: 30%;
    text-decoration: underline;
    border: none;
    padding-bottom: 2%; }

.menuBarItem {
  width: 90%;
  font-family: "Lobster", cursive;
  border-bottom: 1px solid white;
  font-size: 30px;
  color: white;
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  cursor: pointer; }
  .menuBarItem:hover {
    color: pink; }

.levelsContainer {
  margin: 0;
  width: 90%;
  margin-left: 5%;
  margin-top: 80px;
  display: inline-block; }

.levelButton_01 {
  border: 1px solid white;
  color: white;
  width: 138px;
  height: 45px;
  padding-top: 15px;
  float: left;
  font-size: 21px;
  font-family: Helvetica;
  text-align: center;
  margin: 9px;
  cursor: pointer; }
  .levelButton_01:hover {
    color: pink;
    border-color: pink; }

.levelButtonShort_01 {
  border: 1px solid white;
  color: white;
  width: 60px;
  height: 45px;
  padding-top: 15px;
  float: left;
  font-size: 21px;
  font-family: Helvetica;
  text-align: center;
  margin: 9px;
  cursor: pointer; }
  .levelButtonShort_01:hover {
    color: pink;
    border-color: pink; }

body {
  font-family: "Lobster", cursive;
  background-image: url("/img/bg.jpg");
  margin: 0;
  padding: 0; }

@media (min-width: 1024px) {
  body {
    background-size: 100%; } }
body, html {
  overfloat: hidden;
  position: fixed;
  width: 100%;
  height: 100vh; }

#menuToggle1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border: 3px solid white;
  cursor: pointer;
  overflow: none; }
  #menuToggle1 img {
    width: 70px; }

#playButton {
  font-family: "Lobster", cursive;
  font-size: 60px;
  padding: 15px;
  width: 300px;
  margin-left: 50%;
  position: relative;
  left: -150px;
  border: 5px dashed #cccccc;
  color: #cccccc;
  background-color: transparent;
  cursor: pointer; }

h1 {
  color: #cccccc;
  font-size: 80px;
  width: 300px;
  margin-left: 50%;
  position: relative;
  left: -100px; }

@media screen and (max-width: 600px) {
  h1 {
    width: 75%;
    margin-left: 25%;
    position: static;
    left: 0px; } }
#menuBar {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 99vh;
  display: none;
  border: 1px solid white; }
  #menuBar #subMenuBar {
    width: 100%;
    border-bottom: 1px solid white; }
    #menuBar #subMenuBar img {
      width: 30%;
      margin-left: 35%; }
    #menuBar #subMenuBar button {
      width: 40%;
      font-size: 20px;
      color: white;
      background-color: black;
      margin-left: 30%;
      text-decoration: underline;
      border: none;
      padding-bottom: 2%; }
  #menuBar .menuBarItem {
    width: 90%;
    border-bottom: 1px solid white;
    font-size: 30px;
    color: white;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: pointer; }
    #menuBar .menuBarItem:hover {
      color: pink; }

#signUpForm {
  display: none; }

#signInForm {
  display: none; }

.usersLoginForm {
  width: 100%;
  border-bottom: 1px solid white; }

.loginFormLabel {
  color: white;
  font-family: Helvetica;
  font-size: 20px;
  width: 85%;
  margin-left: 15%;
  margin-top: 2.5%; }

.loginFormInput {
  width: 75%;
  margin-top: 2%;
  margin-left: 15%;
  margin-bottom: 2%;
  background-color: #999999; }

.loginFormButton {
  font-size: 20px;
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 40%;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 4%; }

.signFormErrorMessage {
  color: red;
  font-size: 10px; }

#signInErrorMessage {
  display: none; }

#signUpErrorMessage {
  display: none; }

@media screen and (min-width: 601px) {
  #menuBar {
    width: 30%; } }

/*# sourceMappingURL=index.css.map */
