
body{
	padding:0px;
    margin:0px;
}

#mainScreen{
	width:100%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
    padding:0px;
    margin:0px;
}

#ControlBox{
	width:70%;
	height:auto;
	float:right;
}
#canvasBox{
    width:30%;
    height:100%;
	background-color:aquamarine;
	float:left;
}

.EditSelection{
	background-color:orange;
	width:48%;
	height:55px;
	float:left;
	font-size:20px;
	text-decoration:none;
	display: inline-block;
	border: none;
	padding:15px 0px;
	margin-left:2%;
	color:white;
}

#controlsBucket{
    color:black;
	width:100%;
    height:600px;
	overflow-y:scroll;
}

#screen{
    width:100%;
    height:auto;
}

.PlanetSelect{
    background-color:orange;
    margin:10px;
    padding:5px;
    float:left;
    color:black;
}

.PEditButton{
    margin:1px;
    border: none;
	background-color:azure;
}

.animeDiv{
    width:350px;
    padding:15px;
    margin:7px;
    border-width:1px;
    border-color:black;
    border-style:solid;
    background-color:#e5dcf5;
}