body{
 background-color:black;
}

@font-face {
    font-family: exo;
    src: url("/fonts/Exo-Black.otf") format("opentype");
}

#banner{
    font-family: exo;
    font-size:50px;
    padding-top:20px;
    text-decoration: underline;
    background-color:darkblue;
    color:blue;
}

.levelButton{
    padding:2px;
    margin:5px;
    background-color:antiquewhite;
    cursor:pointer;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size:15px;
}

.nabBarHP{
    background-color:darkblue;
    color:white;
}
