@import 'helloPlanet'

//275 lines - 244 lines

//some common styles
.CommonColorScheme
    background-color : rgba(30,30,30,0.8)
    color : rgb(230,230,230)
    border : 1px solid white
    font-family : $fontType2
    font-size : 75%
    
.FloatInline
    float : left
    display : inline-block

$mainWidth : 80%
$mainTop : 2%

$canvasWidth : 30%
$controlBoxWidth : 100% - $canvasWidth

$canvasWidthMB : 70%


$screenRatio : (800 / 480)

//the div which contains all
#mainScreen
    margin : 0
    margin-top : $mainTop
    padding : 0
    margin-left : (100% - $mainWidth) / 2
    width : $mainWidth
    display : inline-block

//
#canvasBox
    float : left
    width : $canvasWidth
    canvas
        width : 100%
        height : 100% * $screenRatio
        

$topMenuBWidth : 100% / 3
$topMenuBMargin : 2%
$topMenuBPadding : 2%

        
#ControlBox
    width : $controlBoxWidth
    padding : 0
    margin : 0
    float : left
    
    
#topMenu
    width : 100%
    margin : 0
    padding : 0
.topMenuButton
    float : left
    width : $topMenuBWidth - ($topMenuBMargin + $topMenuBPadding)
    font-size : $topMenuBWidth * 3
    padding : $topMenuBPadding
    margin : $topMenuBMargin
    @extend .CommonColorScheme

#modeFunctionButton
    background-color : blue

$nameInputWidth : 60%
$nameInputDivPadding : 2%
    
#nameInputDiv
    width : 100%
    color : white
    display : inline-block
    padding : $nameInputDivPadding
    input
        float : left
        width : $nameInputWidth - $nameInputDivPadding * 1
        @extend .CommonColorScheme
#nameInputLabel
    float : left
    width : (100% - $nameInputWidth) - $nameInputDivPadding * 1
    font-family : $fontType2
    text-align : center
    color : white
    


    
    
@media (screen and max-width : 600px) /*mobile*/
    #canvasBox
        float : none
        width : $canvasWidthMB
        height : $canvasWidthMB / $screenRatio
        margin-left : auto
        margin-right : auto
    #ControlBox
        width : $canvasWidthMB
        margin-left : (100% - $canvasWidthMB) / 2
    .topMenuButton
        width : 100%
        font-size : 100%
        padding : 15px
        margin : 0
        margin-bottom : 15px
    #nameInputDiv
        padding-top : 15px
        padding-bottom : 15px
        display : block
        label
            text-align : left
            font-size : 130%
            width : 100%
            margin-bottom : 15px
        input
            font-size : 130%
            width : 100%
        

#controlsBucket
    width : 100%
    display : inline-block
    margin-top : 2%
            
//widgets and other sub conrols:
.PlanetSelect
    width : 24%
    padding : 2%
    margin : 2%
    float : left
    border-radius : 20px
    
.PlanetSelectX
    @extend .CommonColorScheme
    float : right
    
.PlanetSelectName
    font-size : 90%
    width : 90%
    
.PlanetSelectButton
    font-size : 80%
    padding : 2%
    margin : 2%
    background-color : rgba(0,0,0,0)
    
.PlanetForm
    width : 95%
    margin-left : 2.5%
    
    
.PlanetFormPrimary
    width : 50%
    float : left
    display : inline-block
    
.PlanetFormBtn
    width : 100%
    button
        @extend .CommonColorScheme
        width : 45%
        margin : 2.5%
        padding-top : 1.5%
        padding-bottom : 1.5%
        
.LevelCreatorInputDiv
    width : 95%
    margin : 1.5%
    padding : 1%
    @extend .CommonColorScheme
    div
        color : white
        margin-bottom : 2%
    input, button
        @extend .CommonColorScheme
        padding : 2%
        width : 90%
        margin-bottom : 2%

.LevelCreatorInputSel
    width : 95%
    margin : 1.5%
    padding : 1%
    @extend .CommonColorScheme
    div
        margin-bottom : 2%
    select
        @extend .CommonColorScheme
        padding : 2%
        width : 90%

.LevelCreatorInputPoint   
    width : 95%
    margin : 1.5%
    padding : 1%
    @extend .CommonColorScheme
    div
        margin-bottom : 2%
    input
        @extend .CommonColorScheme
        padding : 2%
        width : 60%
    button
        padding : 2%
        @extend .CommonColorScheme

.animeDiv
    width : 45%
    float : left
    button
        @extend .CommonColorScheme
        width : 25%
     
        
        
@media screen and (max-width : 600px) /*mobile*/
    .PlanetSelect
        width : 96%
        border-radius : 10px
    .PlanetFormPrimary
        width : 100%
    .animeDiv
        width : 100%

        
        