
//make an element non-selectable
.nonSelectable
    -webkit-touch-callout :     none /* iOS Safari */
    -webkit-user-select :       none /* Chrome/Safari/Opera */
    -khtml-user-select :        none /* Konqueror */
    -moz-user-select :          none /* Firefox */
    -ms-user-select :           none /* Internet Explorer/Edge */
    user-select :               none /* Non-prefixed version, currently */

//main font types
$fontType1 : 'Lobster', cursive
$fontType2 : Helvetica
    
    
//main body
body
    padding : 0
    margin : 0
    background-image : url('/img/bg.jpg')
    background-attachment : fixed

@media (min-width : 1024px)
    body
        background-size : 100%


//level button dimensions
$slb_width  : 60px
$slb_fs : $slb_width * 0.35
$slb_height : $slb_width
$slb_topPadding : $slb_height / 4
$slb_margin : $slb_width * 0.15

//create a level button for clicking
@mixin LevelButton($width, $height, $marginSize, $topPadding, $fontSize)
    border : 1px solid white
    color : white
    width : $width
    height : $height
    padding-top : $topPadding
    float : left
    font-size : $fontSize
    font-family : $fontType2
    text-align : center
    margin : $marginSize
    @extend .nonSelectable
    cursor : pointer
    &:hover
        color : pink
        border-color : pink
    
    
//menu toggle
.menuToggleButton
    position : fixed
    top : 0
    left : 0
    width : 70px
    height : 70px
    border : 3px solid white
    cursor : pointer
    overflow : none
    img
        width : 70px
        
//actual Menu
.menuBar
    background-color : rgba(0,0,0,0.8)
    position : fixed
    top : 0
    left : 0
    width : 70%
    height : 99vh
    display : none
    border : 1px solid white
@media screen and (min-width : 601px) /*desktop*/
    .menuBar
        width : 30%

//top section of menu bar
.subMenuBar
    width : 100%
    border-bottom : 1px solid white
    img
        width : 30%
        margin-left : 35%
    button
        width : 40%
        font-size : 20px
        color : white
        background-color : black
        margin-left : 30%
        text-decoration : underline
        border : none
        padding-bottom : 2%

//an item within the menu bar
.menuBarItem
    @extend .nonSelectable
    width : 90%
    font-family : $fontType1
    border-bottom : 1px solid white
    font-size : 30px
    color : white
    padding-left : 10%
    padding-top : 2%
    padding-bottom : 2%
    cursor : pointer
    &:hover
        color : pink


    
//levels buttons etc..
.levelsContainer
    margin : 0
    width : 90%
    margin-left : 5%
    margin-top : 80px
    display : inline-block

    
.levelButton_01
    @include LevelButton($slb_width * 2 + $slb_margin * 2, $slb_height - $slb_topPadding, $slb_margin, $slb_topPadding, $slb_fs)
    
.levelButtonShort_01
    @include LevelButton($slb_width, $slb_height - $slb_topPadding, $slb_margin, $slb_topPadding, $slb_fs)
