@import 'helloPlanet'

body
    font-family: 'Lobster', cursive
    background-image : url('/img/bg.jpg')
    margin : 0
    padding : 0

@media (min-width : 1024px)
    body
        background-size : 100%
        


body , html
    overfloat : hidden
    position : fixed
    width : 100%
    //background-color : black
    height : 100vh
    
#menuToggle1
    position : fixed
    top : 0
    left : 0
    width : 70px
    height : 70px
    border : 3px solid white
    cursor : pointer
    overflow : none
    img
        width : 70px
        
    
#playButton
    font-family: 'Lobster', cursive
    font-size : 60px
    padding : 15px
    width : 300px
    margin-left : 50%
    position : relative
    left : -150px
    border : 5px dashed (white * 0.8)
    color : white * 0.8
    background-color : rgba(0,0,0,0)
    cursor : pointer
h1
    color : white * 0.8
    font-size : 80px
    width : 300px
    margin-left : 50%
    position : relative
    left : -100px
    
    
@media screen and (max-width : 600px) /*mobile*/
    h1
        width : 75%
        margin-left : 25.0%
        position : static
        left : 0px

#menuBar
    background-color : rgba(0,0,0,0.8)
    position : fixed
    top : 0
    left : 0
    width : 70%
    height : 99vh
    display : none
    border : 1px solid white
    #subMenuBar
        width : 100%
        border-bottom : 1px solid white
        img
            width : 30%
            margin-left : 35%
        button
            width : 40%
            font-size : 20px
            color : white
            background-color : black
            margin-left : 30%
            text-decoration : underline
            border : none
            padding-bottom : 2%
    .menuBarItem
        @extend .nonSelectable
        width : 90%
        border-bottom : 1px solid white
        font-size : 30px
        color : white
        padding-left : 10%
        padding-top : 2%
        padding-bottom : 2%
        cursor : pointer
        &:hover
            color : pink
 
#signUpForm
    display : none
#signInForm
    display : none
        
.usersLoginForm
    width : 100%
    border-bottom: 1px solid white
    
.loginFormLabel
    color : white
    font-family : Helvetica
    font-size : 20px
    width : 85%
    margin-left : 15%
    margin-top : 2.5%
.loginFormInput
    width : 75%
    margin-top : 2%
    margin-left : 15%
    margin-bottom : 2%
    background-color : white * 0.6

.loginFormButton
    font-size : 20px
    background-color : black
    color : white
    border : 1px solid white
    width : 40%
    margin-left : 15%
    margin-top : 2%
    margin-bottom : 4%
    
.signFormErrorMessage
    color : red
    font-size : 10px
    
#signInErrorMessage
    display : none
#signUpErrorMessage
    display : none
            
@media screen and (min-width : 601px) /*desktop*/
    #menuBar
        width : 30%