
@import 'helloPlanet'
    
#newLevelButton
    position : fixed
    right : 0
    top : 0
    color : white
    font-size : 60px
    font-family : $fontType2
    text-decoration : bold
    width : 70px
    height : 70px
    border : 3px solid white
    text-align : center
    border-radius : 70px
    background-color : rgba(0,0,0,0.7)