@import 'helloPlanet'

$canvasWidth : 360
$canvasHeight : 720
$canvasRatio : $canvasWidth / $canvasHeight

._PlayScreen
    margin-left : auto
    margin-right : auto
    height : 99vh
    width : 99vh * $canvasRatio
    position : fixed
    top : 0
    left : 50%
    margin-left : -(99vh * $canvasRatio * 0.5)
    
body
    padding : 0
    margin : 0
    background-color : yellow
    width : 100%
    
#canvasHolder
    @extend ._PlayScreen
    background-color : green
    canvas
        width : 100%
        height : 100%
        
#PlayMenu
    background-color : blue
    @extend ._PlayScreen
    display : none
    
    
    
@media screen and (max-width : 288px) /*mobile*/
    ._PlayScreenMobile
        width : 100%
        top : 0
        left : 0
        margin-left : 0
        height : 100% / $canvasRatio

    
    #canvasHolder
        @extend ._PlayScreenMobile
    body
        background-color : red
    #PlayMenu
        background-color : orange
        @extend ._PlayScreenMobile
